@import 'header.css';

:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: hsl(0, 0%, 41%);

    /* Font Size */
    --min-fs : 1em;

    /* ScreenSize */
    --max-sc: 96em; 
    --med-sc:50em;
    --min-sc: 25em;
    /*
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
 */
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
}
